* {
  box-sizing: border-box;
  font-family: 'Exo 2', serif;
}

@font-face {
  font-family: 'Exo 2';
  src: url(./fonts/Exo_2/Exo2-Regular.ttf) format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url(./fonts/Exo_2/Exo2-Bold.ttf) format("ttf");
  font-weight: bold;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
}
